<div class="row d-flex justify-content-center py-5">
  <div class="col-md-8">
    <div class="card border-primary">
      <div class="card-header">
        <h4 class="card-title">Edit Car</h4>
      </div>
      <div class="card-body">
        <form #categoryForm="ngForm">
          <input type="hidden" name="id" [(ngModel)]="category.id">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Name *</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="category.name" required
                  pattern="^[a-űA-Ű]{5,20}$">
              </div>
              <div [hidden]="categoryForm.controls['name']?.valid" class="alert alert-danger" role="alert">
                The name must be at least 5 letters!
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Description *</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="category.description" required
                  pattern="^[a-űA-Ű ]{5,30}$">
              </div>
              <div [hidden]="categoryForm.controls['description']?.valid" class="alert alert-danger" role="alert">
                The description must be at least 5 letters!
              </div>
            </div>
          </div>


          <button *ngIf="category.id!==0" (click)="onUpdate(category)" [disabled]="categoryForm.invalid" type="submit"
            class="btn btn-primary pull-right">Update
            Category</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
