<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link " routerLink="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/Cars">Cars</a>
      <a class="nav-link" routerLink="/Categories">Categories</a>
      <a class="nav-link active" routerLink="/ConnectUs">Connect Us</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row d-flex flex-row-reverse">
    <aside class="col-md-5 py-5">
      <div class="container">
        <h1 class="d-flex align-items-center mb-3">
          <span class="h3 text-muted">Your cart</span>
        </h1>
      </div>
    </aside>
    <section class="col-md-5 p-5">
      <div class="conatiner ">
        <h1 class="h4 mb-3">
          <i class="fa-solid fa-phone"></i>
          Service Introduction
        </h1>
        <p class="pt-4">
          Monday - Thursday : 8 AM - 4 PM
        </p>
        <p>
          Friday: 8 AM - 2 PM
        </p>
        <hr />
        <h1 class="h4 mb-3">Service Introduction</h1>
        <p class="pt-4">
          Monday - Thursday : 8 AM - 4 PM
        </p>
      </div>
    </section>
  </div>


  <div class="row">
    <div class="col-md-5 ">
      <p></p>
    </div>
    <div class="col-md-4">
      <p></p>
    </div>
  </div>
