<div class="d-flex justify-content-center py-5">
  <button type="button" class="btn btn-primary col-10" routerLink="/AddNewCategory">
    Add New Category
  </button>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead class="text-primary">
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let category of category$ | async">
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td>
            <button class="btn btn-warning" (click)="onEdit(category.id)">
              Edit<i class="fa fa-save"></i>
            </button>
            <button (click)="onDelete(category.id)" class="btn btn-danger">
              Delete<i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
