<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand font-italic pr-5" id="pandaCars" routerLink="/">
    <img src="assets\img\asad.png" alt="panda" height="50" class="pr-2">
    Panda Cars
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link " routerLink="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/Cars">Cars</a>
      <a class="nav-link active" routerLink="/Categories">Categories</a>
      <a class="nav-link" routerLink="/ContactUs">Contact Us</a>
    </div>
  </div>
</nav>

<div class="row d-flex justify-content-center py-5">
  <div class="col-md-8">
    <div class="card border-primary">
      <div class="card-header">
        <h4 class="card-title">Add New Category</h4>
      </div>
      <div class="card-body">
        <form #categoryForm="ngForm">
          <input type="hidden" name="id">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Name *</label>
                <input type="text" class="form-control" name="name" required pattern="^[a-űA-Ű]{3,20}$">
              </div>
              <div [hidden]="categoryForm.controls['name']?.valid" class="alert alert-danger" role="alert">
                The name must be at least 3 letters!
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Description *</label>
                <input type="text" class="form-control" name="description" required pattern="^[a-űA-Ű ][0-9]{10,20}$">
              </div>
              <div [hidden]="categoryForm.controls['description']?.valid" class="alert alert-danger" role="alert">
                The description must be at least 10 letters!
              </div>
            </div>
          </div>
          <button *ngIf="category.id===0" (click)="onCreate(category)" [disabled]="categoryForm.invalid" type="submit"
            class="btn btn-primary pull-right">Create
            Category</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>

  <footer class="footer dark p-3">
    <div class="content">
      <p class="copyright text-center"> Copyright © 2022. Panda Cars. All rights reserved.</p>
    </div>
  </footer>
